@import "tailwindcss";

@theme {
  --color-border: hsl(var(--border));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(val(--foreground));

  --color-primary: hsl(val(--primary));
  --color-primary-foreground: hsl(val(--primary-foreground));

  --color-card: hsl(val(--card));

  --animate-float: float 6s ease-in-out infinite;
  --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite; /*make the star slightly pulsing*/
  --animate-fade-in: fade-in 0.7s ease-out forwards;
  --animate-fade-in-delay-1: fade-in 0.7s ease-out 0.2s forwards;
  --animate-fade-in-delay-2: fade-in 0.7s ease-out 0.4s forwards;
  --animate-fade-in-delay-3: fade-in 0.7s ease-out 0.6s forwards;
  --animate-fade-in-delay-4: fade-in 0.7s ease-out 0.8s forwards;
  --animate-metor: meteor 5s linear infinite;

  /* Keyframes: Telling how the animations should act */
  @keyframes float { 
    0%, 
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    } 
  }
  @keyframes pulse-subtle { 
    0%, 
    100% {
      opacity: 1; /*every 1sec, the opacity of the start will go from 0.8 -- 1 (visible to slightly invisible)*/
    }
    50% {
      opacity: 0.8;
    } 
  }
  @keyframes fade-in { /*Getting from completely invisible, to visible + fade in from the left*/
    from {
      opacity: 0;
      transform: translate(20px);
    }
    to {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes meteor { 
    /*"rotate" is to make the meteor fly across the screen*/
    0%{
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    } 
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}